* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.bigbogy {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  background-position: 6% 100%;
}

.secpar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-content: center;
}
.firstPar {
  width: 90%;
  margin: 53px auto auto 50px;
  height: 45px;
}
button {
  width: 5%;
  font-weight: 200;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
input {
  width: 78%;
  height: 40px;
  margin: 0px 20px;
  text-indent: 1%;
  font-size: 20px;
  background: #e7e7e7;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border-color: #f4f6f8;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1877f2;
  text-transform: capitalize;
}
.search {
  width: 17%;
  height: 40px;
}
.container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.fornameh1 {
  background-color: rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
  display: flex;
  margin: 29px auto 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-transform: capitalize;
}

h2 {
  color: white;
  font-size: 19px;
  font-family: sans-serif;
}

p {
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
h1 {
  border-radius: 5px;
  color: white;
  font-size: 65px;
  font-family: sans-serif;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  margin: 29px auto 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-transform: capitalize;
}
.section {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.section2 {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
}

.inform {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  text-align: center;
  width: 32%;
  color: white;
}
.inform2 {
  margin: 18px 5px;
  font-size: 24px;
}

.openbtn {
  background: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  border: 1px solid white;
}
.openbtn i {
  color: rgb(250, 250, 250);
}

.toggleTemp {
  display: none;
}

.mystyle {
  width: 100%;
  height: 70px;
}

@media (max-width: 1200px) {
  .firstPar input {
    width: 70%;
    background-image: unset;
  }
  button {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .firstPar input {
    width: 89%;
    margin: 0 auto;
    background-image: unset;
  }
  button {
    width: 2%;
    display: none;
  }
}

@media (max-width: 400px) {
  .firstPar input {
    width: 71%;
    margin: 0 auto;
    background-image: unset;
  }
  button {
    width: 2%;
    display: none;
  }
}
@media (max-width: 300px) {
  .firstPar input {
    width: 70%;
    margin: 0 auto;
    background-image: unset;
  }
  button {
    width: 2%;
    display: none;
  }
}

@media (max-width: 200px) {
  .firstPar input {
    width: 70%;
    margin: 0 auto;
    background-image: unset;
  }
  button {
    width: 2%;
    display: none;
  }
}
body {
  width: 100%;
  height: 100vh;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.water {
  width: 400px;
  height: 400px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5),
    0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.water:before,
.water:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: -150px;
  background-color: #fff;
}
.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite;
}
.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.3);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
